@import "../scss/main.scss";

.c-navigation {

  display: flex;
  flex-direction: column;

  &__top {
  display: flex;
  align-items: center;
  width: 100%;
  height: 20vw;
  padding: $space-4;
  background-color: yellow;
  }

  &__hamburger {
    display: flex;
    align-items: center;
    width: $space-6;
    height: $space-6;
    margin-right: $space-4;
    cursor: pointer;

    &__center {
      background-color: black;
      position: relative;
      height: ($space-1)-2;
      width: $space-6;

      &:before {
        position: absolute;
        background-color: black;
        content: " ";
        top: -$space-2;
        width: $space-6;
        height: ($space-1)-2;
      }

      &:after {
        position: absolute;
        background-color: black;
        content: " ";
        top: $space-2;
        width: $space-6;
        height: ($space-1)-2;
      }
    }
  }

  &__left, &__right {
    display: flex;
    align-items: center;
    width: 50%;
    height: $space-6;
  }

  &__left {
    justify-content: flex-start;
  }

  &__right {
    justify-content: flex-end;
  }

  &__image {
    max-height: 100%;
    object-fit: contain;
    margin-left: $space-3;
  }

  &__logo {
    max-height: $space-5;
    object-fit: contain;
  }
}

#toggle {
  display: none;

  &:checked ~ .c-navigation__label .c-navigation__hamburger {
    &__center {
      background-color: inherit;

      &:before {
        transform: rotate(45deg);
        top: 0;
      }

      &:after {
        transform: rotate(-45deg);
        top: 0;
      }
    }
  }
}

.swiper {
  width: 100%;
  height: 100%;
  margin-top: 4vw;
  margin-bottom: 4vw;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide div {
  width: 45.75vw;
  height: 53.333vw;
  position: relative;

  &:before {
    content:"";
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(rgba(18, 18, 18, 0), rgba(18, 18, 18, 0), rgba(18, 18, 18, 0.4));;
}

.c-swiper {

  &__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  }

  &__text {
    position: absolute;
    bottom: $space-3;
    left: $space-3;
    font-size: medium;
    font-weight: 500;
    color: white;
  }
}
}