@import "../scss/main.scss";

.c-navigation {
  display: flex;
  align-items: center;
  width: 100%;
  height: 20%;
  padding: $space-4;
  background-color: yellow;

  &__hamburger {
    display: flex;
    align-items: center;
    width: $space-6;
    height: $space-6;
    margin-right: $space-4;
    cursor: pointer;

    &__center {
      background-color: black;
      position: relative;
      height: ($space-1)-2;
      width: $space-6;

      &:before {
        position: absolute;
        background-color: black;
        content: " ";
        top: -$space-2;
        width: $space-6;
        height: ($space-1)-2;
      }

      &:after {
        position: absolute;
        background-color: black;
        content: " ";
        top: $space-2;
        width: $space-6;
        height: ($space-1)-2;
      }
    }
  }

  &__left, &__right {
    display: flex;
    align-items: center;
    width: 50%;
    height: $space-6;
  }

  &__left {
    justify-content: flex-start;
  }

  &__right {
    justify-content: flex-end;
  }

  &__image {
    max-height: 100%;
    object-fit: contain;
    margin-left: $space-3;
  }

  &__logo {
    max-height: $space-5;
    object-fit: contain;
  }
}

#toggle {
  display: none;

  &:checked ~ .c-navigation__label .c-navigation__hamburger {
    &__center {
      background-color: inherit;

      &:before {
        transform: rotate(45deg);
        top: 0;
      }

      &:after {
        transform: rotate(-45deg);
        top: 0;
      }
    }
  }
}
